<div class="popover" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <form name="loginForm" class="navbar-form navbar-left" role="login">
            <div class="form-group dropdown-input">
                <input type="text" class="form-control" placeholder="User" ng-model="enterWorklogCtrl.username" required>
            </div>
            <div class="form-group dropdown-input">
                <input type="password" class="form-control" placeholder="Password" ng-model="enterWorklogCtrl.password" required>
            </div>
            <div class="form-group dropdown-input">
                <input type="text" class="form-control" placeholder="JIRA URL" ng-model="enterWorklogCtrl.jiraURL" required>
            </div>
            <button class="btn btn-default pull-right" ng-click="loginForm.$valid && enterWorklogCtrl.saveLoginData($hide)">Login</button>
            <button class="btn btn-default pull-left" ng-click="enterWorklogCtrl.clearLoginData()">Clear</button>
        </form>
    </div>
</div>